*{
    background-color: #d3f5ce;
}
h1{
    display: flex;
    justify-content: center;
    color: #27a09e;

}
.container{
    display: flex;
    justify-content: center;
    padding:50px;
    margin-left: 400px;
    margin-right:400px;
    margin-top: 100px;
    background-color:#7de393;
    border-radius: 10px;
    box-shadow: 5px 10px #30ce88;
}
.increment, .decrement{
    border-style: none;
    padding: 10px;
    width: 70px;
    background-color: #30ce88;
    font-size: xx-large;
    font-weight: bolder;
    color: aliceblue;
}
.increment:hover{
    background-color: #27a09e;
}
.decrement:hover{
    background-color: #27a09e;
}
.spanTag{
    padding: 10px;
    font-size: xx-large;
    font-weight: 600;
    font-style: italic;
    color: #205374;
}
@media(max-width:600px){
    .container{
        display: flex;
        justify-content: center;
        padding:50px;
        margin-left: 100px;
        margin-right:100px;
        margin-top: 100px;
        background-color:#7de393;
        border-radius: 10px;
        box-shadow: 5px 10px #30ce88;   
    }
}
@media(max-width:768px){
    .container{
        display: flex;
        justify-content: center;
        padding:50px;
        margin-left: 100px;
        margin-right:100px;
        margin-top: 100px;
        background-color:#7de393;
        border-radius: 10px;
        box-shadow: 5px 10px #30ce88;
    }
}











